{% extends 'base.html' %}
{% load static %}
{% block content %}
<div style="margin-bottom: 100px;"></div>
<h1 class="text-center">Actualizar Laboratorio</h1>
<br>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 shadow-lg p-4">
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre:</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" value="{{ laboratorio.nombre }}">
                </div>
                <div class="mb-3">
                    <label for="ciudad" class="form-label">Ciudad:</label>
                    <input type="text" class="form-control" id="ciudad" name="ciudad" value="{{ laboratorio.ciudad }}">
                </div>
                <div class="mb-3">
                    <label for="pais" class="form-label">País:</label>
                    <input type="text" class="form-control" id="pais" name="pais" value="{{ laboratorio.pais }}">
                </div>
                <button type="submit" class="btn btn-primary">Actualizar</button>
                <a class="btn btn-secondary" href="{% url 'lista_laboratorios'%}">Cancelar</a>
            </form>
        </div>
    </div>
</div>
<div style="margin-bottom: 200px;"></div>

{% endblock content %}