{% extends 'base.html' %}
{% load static %}

{% block content %}
<br><br>
<h1 class="text-center">Actualizar Laboratorio</h1>
<br><br>
<div class="container w-50 shadow-lg pb-4 pt-4">
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="{{ form.nombre.id_for_label }}" class="form-label">Nombre</label>
            <br>
            <div class="container-fluid">
            {{ form.nombre }}
        </div>
        </div>
        <div class="mb-3">
            <label for="{{ form.ciudad.id_for_label }}" class="form-label">Ciudad</label>
            <br>
            <div class="container-fluid">
            {{ form.ciudad }}
        </div>
        </div>
        <div class="mb-3">
            <label for="{{ form.pais.id_for_label }}" class="form-label">País</label>
            <br>
            <div class="container-fluid">
            {{ form.pais }}
        </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Actualizar</button>
            <a class="btn btn-secondary" href="{% url 'lista_laboratorios' %}">Cancelar</a>
        </div>
        
    </form>
</div>
<div style="margin-bottom: 250px;"></div>
{% endblock content %}
